<div class="main-container">
    <mat-card>
        <button class="arrow" mat-icon-button [routerLink]="['/']">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-card-content class="impress">
            <header>
                <h1>Legal Notice</h1>
            </header>
            <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
            <p>Raphael Janka<br>
                Birkhahnweg 47 <br>
                81827 München</p>
            <h2>Contact</h2>
            <p>E-Mail: raphael.janka&#64;gmail.com</p>
            <p>Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
        </mat-card-content>
    </mat-card>
</div>